.DS_Store
build/*
gitlab_kanban_report/TOKEN
gitlab_kanban_report/rsa_id*
gitlab_kanban_report/__pycache__/
gitlab_kanban_report/*.swp
model_data/frozen_inference_
*.weights
noUsed/amdPart/*.h5
__pycache__